<h3>Numbers Pipes - Includes in commun module.</h3>
<p>Number</p>
<div class="grid">
	<div class="card">
		<p class="card-header">number</p>
		<p class="card-content">{{ num }}</p>
		<p class="card-footer">{{ num | number }}</p>
	</div>
	<div class="card">
		<p class="card-header">number: '1.1-1'</p>
		<p class="card-content">{{ num }}</p>
		<p class="card-footer">
			{{ num | number: '1.1-1' }}
		</p>
	</div>
</div>
<p>Currency</p>
<div class="grid">
	<div class="card">
		<p class="card-header">currency</p>
		<p class="card-content">{{ num }}</p>
		<p class="card-footer">{{ num | currency }}</p>
	</div>
	<div class="card">
		<p class="card-header">currency:'BTS '</p>
		<p class="card-content">{{ num }}</p>
		<p class="card-footer">
			{{ num | currency: 'BTS ' }}
		</p>
	</div>
</div>
<p>Percent</p>
<div class="grid">
	<div class="card">
		<p class="card-header">percent</p>
		<p class="card-content">{{ percentage }}</p>
		<p class="card-footer">{{ percentage | percent }}</p>
	</div>
	<div class="card">
		<p class="card-header">percent</p>
		<p class="card-content">{{ percentage }}</p>
		<p class="card-footer">{{ percentage | percent:'1.2-2' }}</p>
	</div>
</div>
