section
  padding: 0.5rem 0.5rem 0.5rem 1rem
  border-radius: 0.3rem
  margin-bottom: 1rem
  background-color: #003b49c4
  display: flex
  justify-content: space-between
  align-items: center
  .title
    display: flex
    align-items: center
    gap: 0.5rem
    font-weight: 600
    i
      color: #f51f51
      font-size: 1.8rem
  .pages
    display: flex
    justify-content: center
    align-items: center
    gap: 0.5rem
    a
      border: 1px solid gray
      border-radius: 0.3rem
      padding: 0 0.5rem
      cursor: pointer
      color: #b9b9b9
      text-decoration: none
    .active
      background-color: gray
      color: #062f3a
      font-weight: bold
