<section>
	<h3>Template</h3>
	<hr />
	<ul class="list-group">
		<li
			routerLink="template/basics"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="active"
			class="list-group-item">
			Basics
		</li>
		<li
			routerLink="template/dinamics"
			routerLinkActive="active"
			class="list-group-item">
			Dinamics
		</li>
		<li
			routerLink="template/switches"
			routerLinkActive="active"
			class="list-group-item">
			Switches
		</li>
	</ul>
  <br>
  <h3>Reactive</h3>
	<hr />
	<ul class="list-group">
		<li
			routerLink="reactive/basics"
			routerLinkActive="active"
			class="list-group-item">
			Basics
		</li>
		<li
			routerLink="reactive/dinamics"
			routerLinkActive="active"
			class="list-group-item">
			Dinamics
		</li>
		<li
			routerLink="reactive/switches"
			routerLinkActive="active"
			class="list-group-item">
			Switches
		</li>
	</ul>
</section>