<h3>Unusual Pipes - Includes in commun module.</h3>
<div class="grid">
	<div class="card">
		<div class="card-header">i18nSelect</div>
		<div class="card-content">
			Saludos {{ gender === 'M' ? 'Alan' : 'Pamela' }}, es
			un placer {{ gender | i18nSelect: genderMap }} a
			nuestro evento.
		</div>
		<div class="card-footer">
			<button type="button" (click)="gender = 'M'">
				Male
			</button>
			<button type="button" (click)="gender = 'F'">
				Female
			</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">i18nPlural</div>
		<div class="card-content">
			Por favor espere, actualmente
			{{ clients | i18nPlural: clientsMap }}
			esperando.
		</div>
		<div class="card-footer">
			<button
				type="button"
				[disabled]="clients === 0"
				(click)="clients = clients - 1">
				-
			</button>
			<button type="button" (click)="clients = clients + 1">
				+
			</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">keyvalue</div>
		<div class="card-content">
			<ul>
				<li *ngFor="let item of person | keyvalue">
					<b>{{ item.key | titlecase }}:</b>
					{{ item.value }}
				</li>
			</ul>
		</div>
		<div class="card-footer"></div>
	</div>
	<div class="card">
		<div class="card-header">slice</div>
		<div class="card-content">
			slice: 0
			<pre>{{ things | slice: 0 }}</pre>
			slice: 0:2
			<pre>{{ things | slice: 0:2 }}</pre>
			slice: 1:2
			<pre>{{ things | slice: 1:2 }}</pre>
			slice: 3:3
			<pre>{{ things | slice: 3:3 }}</pre>
			slice: 0:4
			<pre>{{ things | slice: 0:4 }}</pre>
		</div>
		<div class="card-footer"></div>
	</div>
	<div class="card">
		<div class="card-header">json</div>
		<div class="card-content">
			<pre>{{ person | json }}</pre>
		</div>
		<div class="card-footer"></div>
	</div>
	<div class="card">
		<div class="card-header">async</div>
		<div class="card-content">
			<p>
				<b>Interval:</b>
				{{ observable | async }}
			</p>
			<p>
				<b>Promise:</b>
				<span *ngIf="!(promise | async)">Loading...</span>
				<span>
					{{ promise | async }}
				</span>
			</p>
		</div>
		<div class="card-footer"></div>
	</div>
</div>
