<h3>Basic Pipes - Includes in commun module.</h3>
<div class="grid">
	<div class="card">
		<p class="card-header">uppercase</p>
		<p class="card-content">{{ text }}</p>
		<p class="card-footer">{{ text | uppercase }}</p>
	</div>
	<div class="card">
		<p class="card-header">lowercase</p>
		<p class="card-content">{{ text }}</p>
		<p class="card-footer">{{ text | lowercase }}</p>
	</div>
	<div class="card">
		<p class="card-header">titlecase</p>
		<p class="card-content">{{ text }}</p>
		<p class="card-footer">{{ text | titlecase }}</p>
	</div>
</div>
<p class="mb-3">Examples of date pipe.</p>
<div class="grid">
	<div class="card">
		<ul class="ml-4">
			<li>today | date</li>
			<li>today | date: 'short'</li>
			<li>today | date: 'MMMM - dd'</li>
			<li>today | date: 'MMMM dd, yyyy'</li>
			<li>today | date: 'short':'GMT-5'</li>
			<li>today | date: 'MMMM - dd':'':'es-MX'</li>
		</ul>
	</div>
	<div class="card">
		<ul class="ml-4">
			<li>{{ today | date }}</li>
			<li>{{ today | date: 'short' }}</li>
			<li>{{ today | date: 'MMMM - dd' }}</li>
			<li>{{ today | date: 'MMMM dd, yyyy' }}</li>
			<li>{{ today | date: 'short':'GMT-5' }}</li>
			<li>
				{{
					today | date: 'MMMM - dd':'':'es-MX' | titlecase
				}}
			</li>
		</ul>
	</div>
</div>
