<h3>Basic Pipes - Includes in commun module.</h3>
<div class="my-cards">
	<div class="my-card">
		<p class="my-card-header">uppercase</p>
		<p class="my-card-content">{{ text }}</p>
		<p class="my-card-footer">{{ text | uppercase }}</p>
	</div>
	<div class="my-card">
		<p class="my-card-header">lowercase</p>
		<p class="my-card-content">{{ text }}</p>
		<p class="my-card-footer">{{ text | lowercase }}</p>
	</div>
	<div class="my-card">
		<p class="my-card-header">titlecase</p>
		<p class="my-card-content">{{ text }}</p>
		<p class="my-card-footer">{{ text | titlecase }}</p>
	</div>
</div>
<p class="mb-3">Examples of date pipe.</p>
<div class="my-cards">
	<div class="my-card">
		<ul class="ml-4">
			<li>today | date</li>
			<li>today | date: 'short'</li>
			<li>today | date: 'MMMM - dd'</li>
			<li>today | date: 'MMMM dd, yyyy'</li>
			<li>today | date: 'short'</li>
		</ul>
	</div>
	<div class="my-card">
		<ul class="ml-4">
			<li>{{ today | date }}</li>
			<li>{{ today | date: 'short' }}</li>
			<li>{{ today | date: 'MMMM - dd' }}</li>
			<li>{{ today | date: 'MMMM dd, yyyy' }}</li>
			<li>{{ today | date: 'long' }}</li>
		</ul>
	</div>
</div>
