<section id="sidenav">
	<h4>Template</h4>
	<hr />
	<ul class="list-group">
		<li
			*ngFor="let item of menuItems"
			[routerLink]="item.route"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="active"
			class="list-group-item">
			{{ item.text }}
		</li>
	</ul>
	<br />
	<h4>Reactive</h4>
	<hr />
	<ul class="list-group">
		<li
			*ngFor="let item of menuItems2"
			[routerLink]="item.route"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="active"
			class="list-group-item">
			{{ item.text }}
		</li>
	</ul>
</section>
